/* Estilos para o menu lateral */
#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar-wrapper {
    width: 250px;
    height: 100vh;
    transition: margin 0.25s ease-out;
}

#page-content-wrapper {
    flex: 1;
    padding: 20px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

.logo {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-left: 75%; /* Espaçamento à direita da logo */
}


/* Ajustes para o menu mobile */
@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}
