@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar {
    background-color: #800020; /* Vinho */
}
.navbar-brand {
    font-weight: bold;
    color: #fff;
}
.card {
    margin-top: 50px;
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
.btn-custom {
    background-color: #800020;
    color: white;
}
.btn-google {
    background-color: white;
    border: 1px solid #ddd;
    color: #333;
}
.btn-google img {
    height: 20px;
    margin-right: 10px;
}
footer {
    background-color: #800020;
    color: white;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 210px; /* Espaçamento entre o formulário e o rodapé */
}